
{% include "header.html" %}
<div class="main-box">
    <h1 class="kode-mono-secondary">Typing speed test</h1>
    <h2 class="cutive-mono-regular">Test your typing skills</h2>
    <button class="button button1">
        <b class="seconds">30</b> <br> <small class="seconds_text">seconds</small>
    </button>
    <button class="button button2">
        <b class="seconds">60</b> <br> <small class="seconds_text">seconds</small>
    </button>
    <button class="button button3">
        <b class="seconds">3</b> <br> <small class="seconds_text">minutes</small>
    </button>
</div>
<div class="text-container"></div>
<!-- JavaScript files -->
<script src="{{ url_for('static', filename='js/typingTest.js') }}"></script>
{% include "footer.html" %}

